body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(133, 7, 158);
    color: #fff;
    font-size: 20px;
}
.contentBox{
    border: 2px solid #ddff00;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ff0000;
}